.App-title {
  margin: 5px;
  text-align: center;
  text-shadow: 2px 2px #edaeae;
  .h1 {
    font-weight: 900;
    text-decoration: underline;
  }
  /* background-color: rgb(202, 214, 214); */
}
.App {
  margin: 20px;
}
.Navbar {
  margin: 5px;
  padding: 5px;
  .Navbar-profile {
    height: 60px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    background-color: #cab5b5;
    /* float: left; */
    align-items: center;
    justify-content: space-between;
    .nav-right {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nav-right button {
      padding: 10px;
      margin: 3px;
    }
    .nav-left {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.PostCard {
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgb(184, 182, 182);
  .head {
    display: flex;
    align-items: center;
    justify-content: center;
    .right {
      display: grid;

      padding-right: 30%;
      .time {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }
  }

  .footer {
    border: 1px solid rgb(210, 206, 206);
    padding-left: 30%;
    padding-right: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .likes {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .comment-btn {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .body {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.Body {
  display: flex;
  margin: 10px;
  .left {
    flex: 1;
    background-color: #e0e0e0;
    margin: 5px;
    padding: 5px;
    display: grid;
    .xxx {
      padding: 3px;
      margin: 3px;
      border: 1px solid rgb(117, 116, 116);
    }
  }
  .right {
    flex: 1;
    background-color: #e0e0e0;
    margin: 5px;
    padding-left: 20px;
    padding-top: 20px;
  }
}
